<footer>
    <div class="colums">
        <div class="left">
            <h3 class="title">
                T-Zone
                <img src="../../../public/images/isotipo-TZone-white.svg" alt="isotipo T-zone" class="iso-tzone">
            </h3>
            
            <p class="content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci suscipit ex delectus illum ad, laudantium cum iste magnam reiciendis alias, itaque vitae in, qui veritatis.</p>
            <div class="rrss">
                <!-- redes sociales logos <a></a> -->
            </div>
        </div>
        <div class="right">
            <ul>
                <li>
                    <a href="#">link (1)</a>
                    <a href="#">link (2)</a>
                    <a href="#">link (3)</a>
                    <a href="#">link (4)</a>
                    <a href="#">link (4)</a>
                    <a href="#">link (4)</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="copyright flex">
        <span class="material-symbols-outlined">
            copyright
        </span>
        <h3 class="copy-title">T-Zone | all rights reserved</h3>
    </div>


</footer>

<style>
    footer{
        height: 270px;
        background-color: rgba(0, 0, 0, 0.158);
        position: relative;
        
        
    }

    .colums{
        display: flex;
        gap: 250px;
        padding:20px calc(50% - 350px);
    }

    .left{
        width: 350px;
    }

    .right{
        padding: 0 20px;
    }

    .right > ul > li{
        display: flex;
        flex-direction: column;
    }

    a, h3, p{
        color: white;
    }

    .title{
        font-size: 35px;
        font-weight: bold;
    }


    a{
        font-size: 15px;
    }

.copyright{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.2) ;
}

    .copy-title{
        font-size: 17px;
    }

    span{
        color: white;
    }

    .iso-tzone{
        float: right;
        height: 30px;
        width: 30px;
        margin: 15px 195px 0 5px;
    }
</style>