---
export interface props{
    text:string;
    href:string;
}

const {text, href} = Astro.props;
---
<button class="button-landing">
   <a href={href} class="a-landing">{text}</a> 
</button>

<style>
    .button-landing{
        margin-top: 50px;
    }
    .a-landing{
        background-color: rgb(92, 0, 141);
        color: white;
        padding: 10px 50px;
        border-radius: 8px;
        box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.1);
        font-weight: 600;
        transition: all .3s;
        font-size: 20px;
    }
    .a-landing:hover{
        background-color:rgb(93, 68, 235) ;
    }
</style>